* {
  box-sizing: border-box;
  color: black;
  @media (max-width: 550px) {
    font-size: 4vw;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  width: 100%;
  text-align: center;
}
#sectionArticle {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 950px) {
      flex-direction: column;
    }
  }
}
.logo {
  width: 70%;
  height: 100%;
}
.colSize {
  width: 100%;
  position: relative;
  height: 50%;
  font-weight: bold;
  color: gray !important;
  margin: auto;
  &--position_top {
    top: 5px;
  }
}
img {
  width: 200px;
  object-fit: cover;
  height: 200px;
}

.backColorFooter {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.lien {
  position: relative;
  right: -10%;
}
